@import './../../styles/variables';
@import './../../styles/mixins';

.agentCard {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: $border-radius-md;
  padding: 1rem;
  margin: 0;
  background-color: #fff;

  .contact {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 1%;

    .image {
      display: flex;
      width: 25%; 
      aspect-ratio: 1; // Pour garder l'image carrée
      border-radius: 25%;
      object-fit: cover;
      padding: 1%;
      border: solid 1px $tertiary-color;
    
    }

    .details {
      display: flex;
      width: 75%;
      flex-direction: column;
      padding: 2%;

      .name {
        margin: 0;
      }

      .phone {
        display: flex;
        align-items: center;
        margin: 0;
        gap : 1%;
        
        .iconPhone {
          width: 40px;
          height: 40px;

        }

        .phoneNumber {
          @include font-style('h4');
          margin: 0;
          

        }
      }
      
    }
  }

  .description {
    color: #333;
    padding: 1%;

    .email {
      display: flex;
      align-items: center;
      margin-bottom: 1%;
      gap : 1%;
    
  
      .iconMail {
        width: 40px;
        height: 40px;
      }

      .emailAdress {
        @include font-style('h5');
        margin: 0;

      }
    }

    .infoText {
      display: flex;
      align-items: flex-start;
      gap : 1%;
      text-align: justify;
      @include font-style('p');
      margin: 0;

      .iconInfo {
        margin-top: 2%;
        width: 40px;
        height: 40px;
        

      }

    }
  }
}
