@import './../../styles/variables';
@import './../../styles/mixins';

.teamOverview {
    display: flex;
    flex-direction: column;

    h2 {
        @include font-style('h2');
    }

    .containers {
        display: flex;
        justify-content: space-around;
        gap: 2%;

        @include responsive(xs) {
            flex-direction: column;
            width: 100%;
        }

        .agency, .agents {
            display: flex;
            flex-direction: column;
            width: 45%;
            padding: 0% 2%;
            margin: 1%;
            box-shadow: $box-shadow-complex;
            border-radius: $border-radius-md;

            @include responsive(xs) {
                padding: $spacing-xs;
                width: 100%;
            }
        
            @include responsive(sm) {
                padding: $spacing-sm;
                width: 100%;
            }

            @include responsive(md) {
                padding: $spacing-md;
                width: 100%;
            }

            .agencyTitle, .agentsTitle {
                // Titre de la section
            }

            .agencyText {
                // Texte descriptif de la section
            }

            .teamImg {
                border-radius: $border-radius-md;
            }

            .buttonContainer {
                display: flex;
                justify-content: space-around;
                margin-top: 1rem;
                margin-bottom: 1rem;

                .btn {
                    margin-right: 8px;

                    &:last-child {
                        margin-right: 0; // Retirer la marge à droite pour le dernier bouton
                    }
                }

                .secondary {
                    @include btn-style('secondary');
                }

                .primary {
                    @include btn-style('primary');
                }
            }
        }
    }

    @include responsive(xs) {
        padding: $spacing-xs;
    }

    @include responsive(sm) {
        padding: $spacing-sm;
    }

    @include responsive(md) {
        padding: $spacing-md;
    }

    @include responsive(lg) {
        padding: $spacing-lg;
    }

    @include responsive(xl) {
        padding: $spacing-xl;
    }
}
