@import './../../styles/variables';
@import './../../styles/mixins';

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: $border-radius-md;
  padding: $spacing-md;
  font-size: 1rem;
  transition: all $transition-duration ease-in-out;

  &.primary {
    @include btn-style(primary);
  }

  &.secondary {
    @include btn-style(secondary);
  }

  &.accent {
    @include btn-style(accent);
  }

  &.neutral {
    @include btn-style(neutral);
  }

  // États
  &:hover {
    opacity: 0.9; // Ajoute un effet d'hover par défaut
  }

  &:active {
    opacity: 0.8; // Ajoute un effet d'active par défaut
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  // Responsivité avec des valeurs de rem pour une meilleure adaptabilité
  @include responsive(xs) {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  @include responsive(sm) {
    padding: 0.75rem 1.25rem;
    font-size: 0.875rem;
  }

  @include responsive(md) {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  @include responsive(lg) {
    padding: 1.25rem 2rem;
    font-size: 1.125rem;
  }

  @include responsive(xl) {
    padding: 1.5rem 2.5rem;
    font-size: 1.25rem;
  }
}
