//./src/layouts/MainLayout/style.module.scss
@import './../../styles/layout';

.mainLayout {
    &__content {
      padding: 10px;
      width: 100%;
      @include responsive(xs) {
        padding: $spacing-xs;
        
      }

      @include responsive(sm) {
          padding: $spacing-sm;
      }

      @include responsive(md) {
          padding: $spacing-md;
      }
      }
  }
  