@import './../../styles/variables';
@import './../../styles/mixins';

.propertyList {
    padding: 1rem;
    min-height: 100vh; // S'assurer que la liste a au moins la hauteur de la fenêtre

  
    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1.5rem;
  
      @include responsive(md) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @include responsive(xs) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
  
      button {
        background-color: $primary-color;
        color: $white;
        border: none;
        padding: 0.5rem 1rem;
        margin: 0 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &.active {
          background-color: darken($primary-color, 10%);
        }
  
        &:hover {
          background-color: lighten($primary-color, 10%);
        }
      }
    }
  }
  