// ./src/styles/_base.scss

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

h1 {
  @include font-style('h1');
}

h2 {
  @include font-style('h2');
}

h3 {
  @include font-style('h3');
}

h4 {
  @include font-style('h4');
}

h5 {
  @include font-style('h5');
}

h6 {
  @include font-style('h6');
}

p {
  @include font-style('p');
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  margin: $spacing-md 0;
  padding-left: $spacing-lg;
}

li {
  margin-bottom: $spacing-sm;
}
