// _components.scss

.button {
  @include button-style($btn-primary-color, $button-text);
  &:hover {
    background-color: $button-hover-bg;
  }
}

.button-secondary {
  @include button-style($btn-secondary-color, $button-text);
  &:hover {
    background-color: darken($btn-secondary-color, 10%);
  }
}

.card {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius-md;
  @include box-shadow-complex;
  padding: $spacing-md;
  margin-bottom: $spacing-lg;
}
