// ./src/styles/_components.scss
@import './variables';  // Assure-toi d'importer les variables
@import './mixins';     // Si tu utilises des mixins dans ce fichier

.card {
  background-color: $white;
  border: 1px solid $tertiary-color;
  border-radius: $border-radius-md;
  @include box-shadow-complex;
  padding: $spacing-md;
  margin-bottom: $spacing-lg;
}
