// ./src/styles/_layout.scss

@import './variables';  // Assure-toi d'importer les variables
@import './mixins';     // Si tu utilises des mixins dans ce fichier

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: $base-padding;
}

.header, .footer {
  background-color: $white;
  padding: 1rem 2rem;
  border-bottom: 1px solid $neutral-color;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  width: $sidebar-width;
  background-color: $neutral-color;
  padding: $base-padding;
}

.main-content {
  margin-left: $sidebar-width;
  padding: $base-padding;
}
