@import './../../styles/variables';
@import './../../styles/mixins';

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}  

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  
  .prevButton, .nextButton {
    @include btn-style(secondary);
    color: $tertiary-color;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    
    &:disabled {
      cursor: not-allowed;
      font-weight: 500;
    }
  }

  .pageIndicator {
    font-size: 1rem;
    font-weight: bold;
  }
}
  
  