.propertyCard {
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%; /* Empêche la carte de dépasser sa largeur parent */
  margin: 0 auto; /* Centre la carte */

  img {
    width: 100%;
    height: auto;
  }

  .details {
    padding: 10px;

    h3 {
      margin: 10px 0;
      font-size: 1.2rem;
    }

    p {
      margin: 5px 0;
      color: #555;
    }
  }

  &:hover {
    transform: translateY(-5px);
  }
}
