.propertyCard {
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%; /* Empêche la carte de dépasser sa largeur parent */
  margin: 0 auto; /* Centre la carte */

  img {
    width: 100%;
  }

  .details {
    padding: 10px;

    h3 {
      margin: 10px 0;
      font-size: 1.2rem;
    }

    p {
      margin: 5px 0;
      color: #555;
    }
  }

  &:hover {
    transform: translateY(-5px);
  }
}

.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 10px;
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &:hover img {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

.propertyCard {
  transition: box-shadow 0.3s ease;
  
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  .propertyCard {
    .details h3 {
      font-size: 1rem;
    }

    .details p {
      font-size: 0.9rem;
    }

    .favoriteButton img {
      width: 20px;
      height: 20px;
    }
  }
}
