@import '../../styles/main.scss';

.carrouselContainer {
  background-color: $background-color;
  box-shadow: $box-shadow-md;
   
  .carrouselSlide {
    padding: 10px;

    .carrouselImage {
      border-radius: $border-radius-md;
    }

    .carrouselCaption {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 10px;
      text-align: center;
      font-size: 1em;
    }

    .propertyDetails {
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      border-top: 1px solid #ccc;
    }
  }

  .slick-dots {
    bottom: -30px;
    li button:before {
      font-size: 12px;
      color: #fff;
    }
    li.slick-active button:before {
      color: #000;
    }
  }
}

@media (max-width: 768px) {
  .carrouselCaption {
    font-size: 0.8em; // Ajuste la taille du texte pour les écrans plus petits
  }

  .carrouselImage {
    max-height: 300px; // Réduit la taille des images sur les petits écrans
  }
}
