// ./src/pages/CGUVPage/style.module.scss

@import './../../styles/mixins';
@import './../../styles/variables';

.cguvContainer {
  padding: 20px;
  background-color: #f9f9f9;

  h1 {
    @include font-style(heading);
    margin-bottom: 24px;
    color: $tertiary-color;
  }

  .section {
    margin-bottom: 20px;

    h2 {
      @include font-style(subheading);
      margin-bottom: 12px;
      color: $secondary-color;
    }

    p {
      @include font-style(body);
      margin-bottom: 8px;
      color: $text-color;
    }

    strong {
      color: $highlight-color;
    }
  }
}
