@import './../../styles/components';

.searchBar {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    background-color: #f0f0f0; // Juste un exemple de style

    .input {
        padding: 10px;
        margin-right: 10px;
        flex-grow: 1;
        border: 2px solid #ccc;
        gap: 10px;
    }


    .btn-style {
      @include btn-style(secondary);
    }
}
