// Header.module.scss
@import './../../styles/main.scss';

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @include responsive(mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    img {
      max-width: 70px;
      height: auto;

      @include responsive(mobile) {
        height: 40px;
        margin-bottom: 10px;
      }
    }
  }

  .auth {
    display: flex;
    gap: 1rem;

    .signUpBtn, .loginBtn {
      @include btn-style(secondary);
    }
  }
}