@import './../../styles/variables';
@import './../../styles/mixins';

.footer {
  background-color: lighten($tertiary-color, 10%);
  color: $white;
  padding: $base-padding 0;
  margin-top: 1rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: solid 1px $neutral-color;

    @include responsive(md) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .centerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    @include responsive(md) {
      margin-top: 1rem;
    }

    .logo {
      margin-right: 1rem;
      width: 55px;

        &:hover {
          transform: scale(1.1); // Zoom léger au survol pour attirer l'attention
        }

      a {
        width: 30px;
      }

        .img {
          width: 30px;
          height: 30px;
        }
    }
    
    p {
      color: white;
      @include responsive(md) {
        font-size: 12px;
      }
    }
  }

  .leftSection, .rightSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    @include responsive(md) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
    }

    .icone {
      height: 40px;
      transition: transform 0.3s ease;
      border: solid 1px white;
      border-radius: 50%;

      &:hover {
        transform: scale(1.1); // Zoom léger au survol pour attirer l'attention
      }
    }
  }

  .leftSection {
      @include responsive(md) {
      flex-direction: row;
      margin-bottom: 1rem;
    }
  }

  .footerLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include responsive(sm) {
      gap: 0.4rem;
    }

    li {
      margin: 0;

      a {
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: lighten(#04BFBF, 40%);
          text-decoration: underline;
        }
      }
    }
  }
}
