// ./src/pages/ContactFormPage/style.module.scss

.contactPage {
  max-width: 800px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 40px;
  border: solid 1px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 2rem;
    }
  
    p {
      margin-bottom: 30px;
      color: #555;
    }
  }
  